footer{
    border-top: 1px solid;
    width: 100vw;
    height: 10%;
    a{
        margin-bottom: 2%;
        max-height: 50px;
        svg{
            width: 1.118rem;
        }
    }
    span {
        font-size: 1.118rem;
    }
}