$colors: (
    color-background-default: #F3F3F3,
    color-background-tertiary: #474747,
    color-background-border:#D1D1D1,
    color-background-hover: #DDDDDD,
    color-background-container: #FFFFFF,
    color-background-success: #21712D,
    color-background-danger: #C52A1A,
    color-background-warning: #FFBF1F,
    color-text-headding: #252525,
    color-text-body: #474747,
    color-text-secondary: #FFFFFF,
    color-text-light: #696969,
    neutral-01: #FFFFFF,
    neutral-08: #AFAFAF
);

$colors-dark: (
    color-background-default: #191919,
    color-background-tertiary: #FFFFFF,
    color-background-border:#696969,
    color-background-hover: #303030,
    color-background-container: #252525,
    color-background-success: #21712D,
    color-background-danger: #C52A1A,
    color-background-warning: #FFBF1F,
    color-text-headding: #FFFFFF,
    color-text-body: #D1D1D1,
    color-text-secondary: #FFFFFF,
    color-text-light: #979797,
    neutral-01: #FFFFFF,
    neutral-08: #AFAFAF
);