@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./normalize";
@import "./variables";
@import "./mixins";
@include export-to-css-vars($colors);
@include export-to-css-vars-dark($colors-dark);

@import "./components/header";
@import "./components/calendar-page";
@import "./components/footer";

body{
    height: 100dvh;
    overflow: hidden;
    font-size: 1.118rem;
    main{
        height: 80%;
        overflow: hidden;
    }
}