.budget-page-wrapper{
    display: flex;
    flex-direction: column;
    .fc-media-screen{
        .fc-header-toolbar {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 8%;
            background: var(--red-3);
            color: white;
            .fc-today-button{
                position: absolute;
                right: 40px;
                bottom: 0px;
                padding-bottom: 0px;
                font-size: 1.5rem;
            }
            button {
                background: var(--red-3);
                outline: var(--red-3);
                box-shadow: none;
                border: none;
                &:hover{
                    background: var(--red-3);
                    outline: var(--red-3);
                    border: none;
                }
                &:not(:disabled):active{
                    background: var(--red-3);
                    outline: var(--red-3);
                    border: none;
                }
                &:focus, &:not(:disabled):active:focus {
                    box-shadow: none;
                    background: var(--red-3);
                }
                &.fc-button-primary:disabled{
                    display: none;
                }
            }
        }
        .fc-view-harness{
            display: none;
        }
    }
}
.list-of-budgets {
    height: calc(100vh - 133px);
    .tabs-menu{
        height: calc(100vh - 213px);
        overflow-y: auto;
        margin-right: -15px;
        padding-right: 15px;
        &::-webkit-scrollbar{
            width: 9px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--color-background-hover);
            border-radius: 5px;
        }
    }
}